.banner {
  overflow: hidden;
  
  white-space: nowrap;

  height: 4rem;
  color: #fff;
  top: 50%;
  left: 0;
  line-height: 100px;
  border: 1px solid var(--Title-Color, #000);
  gap: 0.4375rem;
  background: #fff;
  /* Adjust duration and timing function as needed */
}

/*keyframe animations*/

.banner img {
  height: 3rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.banner-container {
  width: 100%;
  position: relative;
}

.first {
  -webkit-animation: bannermove 20s linear infinite;
  -moz-animation: bannermove 20s linear infinite;
  -ms-animation: bannermove 20s linear infinite;
  -o-animation: bannermove 20s linear infinite;
  animation: bannermove 20s linear infinite;
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@-ms-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@-o-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}
