.banner-container {
  width: 100%;
  position: relative;
}

.banner {
  overflow: hidden;
  white-space: nowrap;
  height: 1.5rem;
  color: #fff;
  top: 50%;
  left: 0;
  line-height: 100px;
  border-bottom: 1px solid var(--Title-Color, #000);
  /* border-left: 0;
  border-right: 0; */
  gap: 0.4375rem;
  background: #fff;
  display: flex;
  align-items: center;


}

.banner img {
  height: 1rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}



@keyframes bannermove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 3.5rem));
  }
}

/* Other keyframes for vendor prefixes */
@-ms-keyframes bannermove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 3.5rem));
  }
}

@-o-keyframes bannermove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - 3.5rem));
  }
}



@media screen and (min-width: 768px) {
  .banner {
    overflow: hidden;

    white-space: nowrap;

    height: 3rem;
    color: #fff;
    top: 50%;
    left: 0;
    line-height: 100px;
    border-bottom: 1px solid var(--Title-Color, #000);
     gap: 0.4375rem;
    background: #fff;

    /* Adjust duration and timing function as needed */
  }

  /*keyframe animations*/

  .banner img {
    height: 2.5rem;
    width: auto;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .banner-container {
    width: 100%;
    position: relative;
  }

}

.first {
  -webkit-animation: bannermove 20s linear infinite;
  -moz-animation: bannermove 20s linear infinite;
  -ms-animation: bannermove 20s linear infinite;
  -o-animation: bannermove 20s linear infinite;
  animation: bannermove 20s linear infinite;
}


@keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2125px;
  }
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2125px;
  }
}

@keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2125px;
  }
}

@-ms-keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2125px;
  }
}

@-o-keyframes bannermove {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -2125px;
  }
}