@import url('style.css');

/* section#hero-video, */
section#info-section,
section#latest-shows-section,
section#sing-up-section,
section#shop-section {
    margin-bottom: 5vw;
}

section#latest-shows-section {
    /* margin-top: 5vw; */
    padding-top: 3vw;
}



section#hero-video {
    /* width: 100%; */
    aspect-ratio: 16 / 9;
    /* height: 90%; */
    /* margin-bottom: -1%; */
}

iframe#main-vid {
    width: 100%;
    height: 100%;
    margin-bottom: -.5%;

}

aside#topbanner {
    width: 100%;
    background-color: var(--title-color);
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}


div#circle {
    height: 3vmin;
    width: 3vmin;
    max-height: 1.5rem;
    max-width: 1.5rem;
    border-radius: 50%;
    background: var(--chartreuse-base, #DFFF00);
}

aside#topbanner p {
    font-family: var(--light);
    color: var(--white-black-white);
    font-size: 1.25vmax;
}

/* p#livenow {
    font-family: var(--light);
    color: var(--white-black-white);

} */

button#play-pause-button {
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 3vmin;
}

/* p#video-audio-title-playing {
    font-family: var(--light);
    color: var(--white-black-white);

} */

#share-the-stream {
    margin-top: 1.38rem;
    margin-bottom: 1.5rem;
}

#share-the-stream-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#drift-name {
    visibility: hidden;
    position: absolute;
    /* margin-left: 2.5rem; */
}


#info-section {
    position: relative;
    width: 100%;
    height: 45vh;
    /* overflow: hidden; */
    margin-bottom: 5rem;
}

article#drift-info {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* padding-bottom: 5rem; */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div#border {
    width: 100%;
    height: 100%;
    border: 1px solid var(--Title-Color, #000);
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 10%;
    margin-left: 10%;

}

p#drift-info-text {
    font-family: var(--light);
    font-size: var(--p-fontsize);
    width: 80.5572519%;
}

#info-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.info-pngs {
    position: absolute;
}

img#butterflytape {
    right: 3%;
    top: -3%;
    width: 20%;
    height: auto;
}

img#gbears {
    min-width: 10%;
    max-width: 15%;
    height: auto;
    left: 9%;
    bottom: -5%;
}

#rainbow {
    right: 3%;
    bottom: -3%;
    min-width: 20%;
    max-width: 21%;
    height: auto;
}

.button-support {
    padding: 5px 5px;
    background-color: #dfff00;
    border: 1px solid;
    border-color: transparent;
    position: absolute;
    right: -52px;
    top: 118px;
    font-family: var(--med);
    font-size: var(--text_s);
    transform: rotate(90deg);
}


/* **************LASTEST SHOWS SECTION*************** */

h1#latest-show-title,
h1#shop-header {
    padding-left: 0.5rem;
    font-size: var(--display-md);
    color: var(--Title-Color, #000);
    text-align: center;
}

#lastest-shows-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1%;
    row-gap: 2rem;
}



.allxx-button-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* **************************************SIGN UP********************************************** */



#sign-up-section-wrapper>div {
    display: grid;
    align-items: center;
    justify-content: center;
}


#cuteimg {
    /* height: 5%; */
    width: 100%;
    max-width: 424px;
}

#sign-up-section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}

article#sign-up-text-form {
    display: grid;
    gap: 1rem;
}

#sign-up-invi {
    font-size: 1.44rem;
    font-family: var(--med);
}

#sign-up-description {
    font-size: 1.1875rem;
    color: var(--Title-Color, #000);
    font-size: 1.1875rem;
    font-family: var(--light);
}



#signupform {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}



#name,
#email {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--white-black-white);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--white-black-grey-light);
    box-shadow: var(--shadow-small);
    font-family: var(--thin);
    max-width: 370px
}

#name:hover,
#email:hover {
    background-color: var(--chartreuse-1);
    font-family: var(--thin);
    border-color: var(--white-black-grey-light);
    color: #000;
}

#name:focus,
#email:focus {
    background-color: var(--white-black-white);
    font-family: var(--med);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #E1E0FF;
    border: 1px solid var(--blueish-2, #5C56FF);
    outline: none;
}

#name:valid,
#email:valid {
    border: 1px solid;
    border-color: var(--white-black-grey-light);
}

/* #name:invalid,
#email:invalid {
    border: 1px solid var(--error-base);
} */

/* '***************************SHOP************************************************************ */

section#shop-section {
    background-image: url(/assets/dots-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* overflow: hidden; */
}

#shop-header-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
}

#unicorn {
    width: 30%;
    height: 30%;
    max-width: 205px;
    max-height: auto;
}

article#shop-items-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

#shop-header div:nth-last-child(-n+2) {
    visibility: hidden;
    position: absolute;
}

h1#shop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 31x;
    height: 100%;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    padding: 3px;
    transition: background-color 0.5s;
    overflow: hidden;
    cursor: pointer;
}

/* .product-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, transparent 50%,  #F5FFACFF 50%);
    transition: width 0.10s ease-out; 
} */



.frame {
    /* display: inline-flex; */
    flex-direction: column;
    gap: 55px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.product-card .merch-image {
    position: relative;
    /* width: 291px;
    height: 292px;*/
    width: 100%;
}


.merch-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.product-name {
    position: relative;
    /* width: 291px; */
    height: 19px;
    /* margin-top: -1px; */
    font-family: "Helvetica Neue-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.price {
    position: relative;
    width: 75px;
    height: 18px;
    font-family: var(--bold);
    font-weight: 700;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.product-card .frame-2 {
    display: flex;
    width: 291px;
    gap: 13px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

select.size-dropdown {
    padding: 9px;
    background-color: #EEEEEE;
    font-family: var(--light);
}

option.t-shirt-size-option:focus {
    font-family: var(--light);
}

/* *************************MAP***************************** */

article#map-placeholder {
    background-image: url(/assets/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 25vh;
}



/* ******************************************************************************************** */

@media screen and (min-width: 690px) {

    .button-support {
        padding: 5px 5px;
        background-color: #dfff00;
        border: 1px solid;
        border-color: transparent;
        position: absolute;
        right: -52px;
        top: 130px;
        font-family: var(--med);
        font-size: var(--text_s);
        transform: rotate(90deg);
    }

    #cuteimg {
        /* height: 5%; */
        width: 100%;
    }

    #sign-up-section {
        display: grid;
        grid-column: 1fr;
        justify-content: center;

    }

    #sign-up-section-wrapper {

        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: 0.75fr 1fr;
        column-gap: 2.5rem;
    }
}

@media screen and (min-width: 768px) {

    aside#topbanner {
        gap: 1.75rem;
        justify-content: flex-start;
        padding-left: .5rem;
    }


    #info-section {
        display: flex;
        justify-content: center;
    }

    div#border {

        margin-right: 0;
        margin-left: 0;

    }

    article#drift-info {
        max-width: 62%;
        height: 100%;
    }

    p#drift-info-text {
        font-family: var(--light);
        font-size: var(--display_xs);
        /* width: 31.5rem; */
    }

    #info-buttons-container {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        /* padding-right: 10 */

    }

    img#butterflytape {
        right: 12%;
        top: -3%;
        /* width: 20%;
        height: auto; */
    }

    img#gbears {
        left: 15%;
        bottom: -12%;
    }

    #rainbow {
        right: 15%;
        bottom: -3%;
        min-width: 15%;
        max-width: 15%;
        height: auto;
    }

    #sign-up-section {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }



    #sign-up-invi {
        font-size: var(--display-md);
    }

    #signupform {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    div#shop-header-container {
        justify-content: space-around;
    }

    h1#shop-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1rem;
        align-items: center;
        font-size: var(--display_l);
    }

    #shop-header div:nth-last-child(-n+2) {
        visibility: visible;
        position: relative;
    }
}

@media screen and (min-width: 1130px) {

    .button-support {
        padding: 5px 5px;
        background-color: #dfff00;
        border: 1px solid;
        border-color: transparent;
        position: absolute;
        right: -85px;
        top: 203px;
        font-family: var(--med);
        font-size: 1.375rem;
        transform: rotate(90deg);
    }

    #info-section {
        position: relative;
        width: 100%;
        height: 45vh;
        margin-top: 10vh;
    }

    p#drift-info-text {
        /* font-family: var(--light);
        font-size: var(--display_xs); */
        width: 31.5rem;
    }

    #drift-name {
        visibility: visible;
        position: absolute;
        z-index: -10;
        left: 0;
        top: -20%;
        padding-left: 2.5rem;
    }

    p.drift-section-background {
        font-family: var(--bold);
        font-size: 10vmin;
    }

    img#gbears {
        bottom: -15%;
        left: 16%;
    }

    #rainbow {
        right: 15%;
        top: 70%;
        height: auto;
        min-width: 13%;
    }

    img#butterflytape {
        right: 12.5%;
        top: -10%;
        width: 18%;
        height: auto;
    }

    /* SIGN Up SEction */
    article#sign-up-text-form {
        display: grid;
        gap: 1rem;
        align-items: center;
    }

    article#shop-items-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    #sign-up-description {
        font-variant: var(--display_xs);
    }

    /* *************************MAP***************************** */

    article#map-placeholder {
        background-image: url(/assets/map.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 33vh;
    }

}