/* THIS IS THIN  */
/* THIS IS THE THINNEST OF ALL THE WEIGHT */
@font-face {
    font-family: "HelveticaNeue-Thin";
    src: url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.eot");
    src: url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.svg#HelveticaNeue-Thin")format("svg");
}

/* THIS IS OUR "REGULAR" WEIGHT */
@font-face {
    font-family: "Helvetica Neue Light";
    src: url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot");
    src: url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.svg#Helvetica Neue Light")format("svg");
}


/* THIS IS MEDIUM WEIGHT */
@font-face {
    font-family: "Helvetica Neue 65 Medium";
    src: url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.eot");
    src: url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.svg#Helvetica Neue 65 Medium")format("svg");
}


/* THIS IS THE BOLD FONT */
@font-face {
    font-family: "Helvetica Neue LT Pro 75 Bold";
    src: url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.eot");
    src: url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.svg#Helvetica Neue LT Pro 75 Bold")format("svg");
}





:root {

    /* FONTS */

    --bold: "Helvetica Neue LT Pro 75 Bold";
    --med: "Helvetica Neue 65 Medium";
    --reg: "Helvetica Neue Light";
    --light: "HelveticaNeue-Thin";

}

div {
    display: flex;
    
}
p {
    font-size: 5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

p#bold {
    font-family: var(--bold);
}

p#med {
    font-family: var(--med);

}

p#reg {
    font-family: var(--reg);
}

p#light {
    font-family: var(--light);
}