@import url(home.css);

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.eot");
  src: url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.svg#HelveticaNeue-Thin") format("svg");
}

/* font-family: "HelveticaNeue-Thin"; */


@font-face {
  font-family: "Helvetica Neue Light";
  src: url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot");
  src: url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0e6de1ec911a2e267ff136bbdd384a44.svg#Helvetica Neue Light")format("svg");
}

/* THIS IS MEDIUM WEIGHT */
@font-face {
  font-family: "Helvetica Neue 65 Medium";
  src: url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.eot");
  src: url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/6c6db39a56fe8e8f19ba47c6a0770a18.svg#Helvetica Neue 65 Medium") format("svg");
}


/* THIS IS MEDIUM WEIGHT */
/* font-family: "Helvetica Neue 65 Medium"; */

/* THIS IS THE BOLD FONT */
@font-face {
  font-family: "Helvetica Neue LT Pro 75 Bold";
  src: url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.eot");
  src: url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/9a32923a93758d21bf312cf2f6e643d6.svg#Helvetica Neue LT Pro 75 Bold") format("svg");
}





:root {
  /* FONTS */
  --bold: "Helvetica Neue LT Pro 75 Bold";
  --med: "Helvetica Neue 65 Medium";
  --light: "Helvetica Neue Light";
  --thin: "HelveticaNeue-Thin";

  /* FONT SIZING */
  --display_xl: 3.5835rem;
  --display_l: 2.98625rem;
  --display-md: 2.48813rem;
  --display_sm: 2.07375rem;
  --display_xs: 1.72813rem;
  --text_xl: 1.44rem;
  --text_lg: 1.2rem;
  --p-fontsize: 1rem;
  --text_s: 0.83rem;
  --text_xs: 0.69rem;

  /* COLORS */
  --blueish-1: #E1E0FFFF;
  --blueish-2: #5C56FFFF;
  --blueish-3: #1000A1FF;
  --blueish-base: #2000FFFF;
  --bright-pink: #E97CC6FF;
  --chartreuse-1: #F5FFACFF;
  --chartreuse-2: #EDFF61FF;
  --chartreuse-3: #CEEF30FF;
  --chartreuse-base: #DFFF00FF;
  --error-color: #FA1C1CFF;
  --error-base: #FA1C1CFF;
  --error-dark: #D92D20FF;
  --error-light: #FECDCAFF;
  --green: #A3FF5BFF;
  --green-2: #C7FF9BFF;
  --green-3: #E6FED3FF;
  --pink: #E6ABF1FF;
  --pink-2: #F3CAFBFF;
  --pink-3: #FAE6FEFF;
  --purple: #7756D6FF;
  --purple-2: #D1C3F8FF;
  --purple-3: #D1C3F8FF;
  --success-base: #5FFEAEFF;
  --success-dark: #32D583FF;
  --success-light: #D1FADFFF;
  --title-color: #000000FF;
  --white-black-black: #0C0C0CFF;
  --white-black-grey-dark: #434242FF;
  --white-black-grey-light: #B9B9B9FF;
  --white-black-white: #FAF8F8FF;

  /* SHADOWS */
  --shadow-XS: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-small: 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --shadow-medium: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  --shadow-large: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
  --shadow-XL: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --button-shadow: 1px 3px 5px 0px rgba(16, 24, 40, 0.3);
  --shadow-focused: 0px 1px 2px 0px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(225, 224, 255, 1);
}

/* FONTSTYLING */

h1 {
  font-family: var(--bold);
}

body {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  /* overflow: hidden; */
}


/* HEADER */

.hidden {
  visibility: hidden;
}

header {
  overflow: hidden;
}

.logo {

  width: 3.97869rem;
  height: 1.875rem;
  flex-shrink: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  justify-content: space-between;
}

.overlay-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  visibility: hidden;
}

.overlay-visible {
  visibility: visible;
}

ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0.25rem;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#close-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--med);
  font-size: var(--p-fontsize);
  color: var(--title-color);
  cursor: pointer;
}

li {
  font-family: var(--med);
  font-size: var(--display_sm);

}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;

}


#some-icons-container-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
}

img.some-icon {
  height: 40px;
  width: 40px;
}

#search-burger-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;

}

span#some-icons-desktop {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

button.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

button#search-icon-mobile {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.search-icon {
  width: 1.875rem;
  height: 1.875rem;
}

button>div.line {
  width: 2.1875rem;
  height: 0.25rem;
  background-color: var(--white-black-black);
  margin: 3px 0;
  transition: 0.4s;
}

.mobile-hide {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


.search-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  overflow: hidden;
  background-color: var(--white-black-black, #0C0C0C);
  /* START WITH NONE JS SCRIPT INCLUDES THE FLEX */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
}

#search-overlay-close-button {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--med);
  font-size: var(--p-fontsize);
  color: var(--chartreuse-1);
  cursor: pointer;
  padding-bottom: 20rem;
}

input.search-input-overlay {
  font-family: var(--med);
  font-size: var(--display_sm);
  background-color: var(--white-black-black);
  border: none;
  width: 65%;
}

input[type=text].search-input-overlay:focus {
  font-family: var(--med);
  font-size: var(--display_sm);
  background-color: var(--white-black-black);
  border: none;
  color: var(--white-black-white);
  outline: none;

}

/* *************************************SHOWS CARD********************************************* */



.show-card {
  display: inline-flex;
  flex-direction: column;
  height: 345px;
  align-items: flex-start;
  gap: 14px;
  padding: 4px;
  position: relative;
  background-color: #ffffff;
  box-shadow: var(--shadow-medium);
}

.show-card:hover {
  box-shadow: var(--button-shadow);
}

.image-placeholder {
  position: relative;
  width: 333px;
  height: 187px;
  object-fit: cover;
}

.text-field {
  display: flex;
  flex-direction: column;
  width: 333px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.artistname {
  position: relative;
  width: 333px;
  margin-top: -1px;
  font-family: var(--light);
  color: #000000;
  font-size: 22px;
  letter-spacing: 0;

}

.date-views {
  position: relative;
  width: 333px;
  height: 20px;
  font-family: var(--light);
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;

}

.genre-buttons-field {
  display: flex;
  flex-wrap: wrap;
  width: 333px;
  align-items: flex-start;
  gap: 5px 5px;
  position: relative;
  flex: 0 0 auto;
}

.card-genre {
  display: inline-flex;
  height: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* padding: 15px 20px; */
  padding: 15px 20px 12px 20px;
  background-color: var(--white-black-white);
  border-radius: 20px;
  overflow: hidden;
  border: 1.5px solid;
  border-color: var(--white-black-black);
  position: relative;
  flex: 0 0 auto;
  cursor: pointer;
}


.card-genre:hover {
  background-color: var(--chartreuse-base);
}



.text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -11.5px;
  margin-bottom: -8.5px;
  font-family: var(--light);
  text-transform: uppercase;
  color: var(--white-black-black);
  font-size: var(--text_s);
  white-space: nowrap;

}

/*******************************************END SHOWS CARD***************************************/

/******************************************* FOOTER ***********************************************/

footer {
  /* height: 28.625rem; */
  background: var(--Title-Color, #000);
  display: grid;
  padding-bottom: 2rem;
  /* position: relative; */
}

#footerimg {
  width: 20%;
}

p#copyright {
  visibility: hidden;
}

.footertext {
  color: var(--white-black-white)
}

#description {
  font-family: var(--light);
}

#info1,
#info2 {
  font-family: var(--thin);
}

#footer-mid,
#footer-bot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-some-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;

}

footer>div>ul {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

footer>div>ul>li>a {
  font-family: var(--med);
  color: var(--white-black-white);
  font-size: var(--text_lg);
}

#footer-wordmark {
  width: 6.57144rem;
}

p#description {
  padding-bottom: 0.5rem;

}

p#info1 {
  padding-bottom: 0.25rem;
}

#footer-top {
  margin-bottom: -4rem;
}

/* buttons styles */
a {
  text-decoration: none;
  text-decoration-line: none;
}

.button-primary-rounded-small {
  background-color: var(--white-black-black);
  color: var(--white-black-white);
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  padding: 10px 20px;
  font-size: var(--text_s);
  border: none;
  font-family: var(--med);
  text-align: center;
}

.button-primary-rounded-small:hover {
  background-color: var(--chartreuse-2);
  color: var(--white-black-black);
}

.button-secondary-rounded-small {
  border: 1px solid var(--white-black-black);
  background: var(--white-black-white);
  border-radius: 20px;
  box-shadow: var(--button-shadow);
  padding: 8px 20px 8px 20px;
  font-size: var(--text_s);
  font-family: var(--med);
  color: var(--white-black-black);
  text-align: center;
}

.button-secondary-rounded-small:hover {
  background-color: var(--white-black-black);
  color: var(--white-black-white);
}

a.text-only-link {
  text-decoration-line: underline;
  font-size: 1.44rem;
  font-family: var(--light);
  color: var(--white-black-black);
  display: flex;
  align-items: center;
  gap: 1.56rem;
}

a.text-only-link>div.arrow-container {
  background-image: url(assets/arrow.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 17px;
  height: 14.17px;
}

.button-primary-sharp-small {
  background-color: var(--white-black-black);
  color: var(--white-black-white);
  /* border-radius: 20px; */
  box-shadow: var(--button-shadow);
  padding: 10px 20px;
  font-size: var(--text_s);
  border: none;
  font-family: var(--med);
  text-align: center;
  min-width: none;
  min-width: 370px
}

.button-primary-sharp-small:hover {
  background: var(--chartreuse-base, #DFFF00);
  color: var(--title-color);
  font-family: var(--med);
  font-size: var(--text_s);
}

.button-primary-sharp-small:focus {
  color: var(--white-black-white);
  background-color: var(--white-black-black);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 2px 5px 0px rgba(56, 55, 55, 0.08), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 0px 0px 4px rgba(103, 110, 118, 0.16);
}



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NAV DESKTOP ONLY <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


@media screen and (min-width: 1130px) {

  nav {
    height: 4.125rem;
    padding: 0.9375rem 2.5rem;
    gap: 1.5rem;
    justify-content: space-between;
  }

  .desktop-hide {
    visibility: hidden;
    position: absolute;
    top: 0%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  li {
    font-family: var(--med);
    display: inline-flex;
    align-items: center;
    font-size: var(--p-fontsize);

  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
  }

  li a:hover {
    color: var(--blueish-base);
  }

  .desktop-navmenu {
    position: relative;
    visibility: visible;
  }

  .search-container {
    position: relative;
    display: inline-block;
  }

  .search-container input[type=text] {
    /* padding-left: 30px */
    border: 1px solid var(--white-black-grey-dark);
    background-color: var(--white-black-white);
    /* margin-top: 8px; */
    margin-right: 16px;
    padding: 6px;
    border-radius: 0.9375rem;
    font-family: var(--med);
    min-width: 150px;
    max-width: 200px
  }

  .search-container input[type=text]:hover {
    border: 1px solid var(--white-black-grey-light);
    background-color: var(--chartreuse-1);
  }

  .search-container input[type=text]:focus {
    box-shadow: var(--shadow-focused);
    border: 1px solid var(--blueish-2);
    background-color: var(--white-black-white);
    outline: none;
  }

  .search-icon {
    position: absolute;
    top: 20%;
    left: 8px;
    width: 1.25rem;
    height: 1.25rem;
  }

  #some-icons-container-mobile {
    visibility: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
  }


  body>header>nav>span#some-icons-desktop {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
  }

  .mobile-hide {
    visibility: visible;

  }

  .desktop-hide {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  /* FOOTER */

  footer {

    background: var(--Title-Color, #000);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
    padding-bottom: 2rem;
    width: 100%;
  }

  #footerimg {
    width: 60%;
  }

  p#copyright {
    visibility: visible;
    font-family: var(--light);
    font-size: var(--text_xs);
    margin-top: -2%;
    margin-left: 2.5rem;
  }

  .footertext {
    color: var(--white-black-white)
  }

  #description {
    font-family: var(--light);
    text-align: right;
  }

  #info1,
  #info2 {
    font-family: var(--thin);
    text-align: right;
  }

  #footer-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #footer-bot {
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }



  #footer-some-icons {
    display: flex;
    flex-direction: row;
    gap: 2rem;

  }

  footer>div>ul {
    background-color: transparent;
    display: flex;
    flex-direction: row;
  }

  footer>div>ul>li>a {
    font-family: var(--med);
    color: var(--white-black-white);
    font-size: var(--text_lg);
  }

  #footer-wordmark {
    width: 35%;
  }

  p#description {
    padding-bottom: 0.5rem;
    padding: top 0.5rem;
    ;
    font-size: var(--text_lg);

  }

  p#info1 {
    padding-bottom: 0.25rem;
  }

  #footer-top {
    align-self: start;
    margin-bottom: 0;
  }


}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> END OF BREAK POINT <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media screen and (min-width: 768px) {}